openapi: 3.1.0
info:
  title: City Signals API
  version: 1.0.0
  description: >
    Public API exposing normalized urban signals (status/score/confidence)
    for mobility apps, dashboards, and civic products.
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.citysignals.dev
    description: Production (planned)
  - url: http://localhost:3000
    description: Local development

security:
  - ApiKeyAuth: []

paths:
  /health:
    get:
      summary: Health check
      operationId: getHealth
      security: [] # explicitly public endpoint
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [ok]
                  service:
                    type: string
                  version:
                    type: string
                required: [status, service, version]

        "429":
          description: Too many requests
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"

        "503":
          description: Service unavailable
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"

  /v1/signals:
    get:
      summary: List signals (normalized, product-ready)
      operationId: listSignals
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
        - name: cityId
          in: query
          description: Filter by city
          required: false
          schema:
            type: string
            example: bcn
        - name: type
          in: query
          description: Filter by signal type
          required: false
          schema:
            $ref: "#/components/schemas/SignalType"
        - name: status
          in: query
          description: Filter by normalized status
          required: false
          schema:
            $ref: "#/components/schemas/SignalStatus"
        - name: updatedSince
          in: query
          description: Return signals updated since an ISO timestamp (incremental fetch)
          required: false
          schema:
            type: string
            format: date-time
      responses:
        "200":
          description: Signals list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedSignalsResponse"
        "400":
          description: Invalid request
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
        "429":
          description: Too many requests
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
        "500":
          description: Unexpected error
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"

  /v1/signals/{signalId}:
    get:
      summary: Get signal details by id
      operationId: getSignalById
      description: Returns detailed information about a specific signal, including its current value and interpretation metadata.
      parameters:
        - name: signalId
          in: path
          required: true
          description: Stable identifier of the signal.
          schema:
            type: string
            example: bcn.parking.availability
      responses:
        "200":
          description: Signal details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SignalDetail"
        "400":
          description: Invalid request
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"

        "404":
          description: Signal not found
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
        "429":
          description: Too many requests
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
        "500":
          description: Unexpected error
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"



components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key

  parameters:
    Limit:
      name: limit
      in: query
      description: Max items to return
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25

    Cursor:
      name: cursor
      in: query
      description: Opaque cursor for pagination
      required: false
      schema:
        type: string

  schemas:
    Problem:
      type: object
      description: RFC 7807 compatible problem details
      properties:
        type:
          type: string
          format: uri
          example: https://errors.citysignals.dev/service-unavailable
        title:
          type: string
          example: Service unavailable
        status:
          type: integer
          example: 503
        detail:
          type: string
          example: "Temporary outage. Please retry."
        instance:
          type: string
          example: /health
        traceId:
          type: string
          description: Correlation id for support/debug
          example: 01J0K3H2J9E8M7N6P5Q4R3S2T1
      required: [type, title, status]
        
    SignalType:
      type: string
      description: Product-level categories (extensible)
      enum: [parking, traffic, air_quality, noise, transit]

    SignalStatus:
      type: string
      description: Normalized status for product consumption
      enum: [good, moderate, poor, unknown]

    SignalSource:
      type: object
      properties:
        name:
          type: string
          example: City Open Data Portal
        kind:
          type: string
          enum: [open_data, partner, sensor, derived]
          example: open_data
        url:
          type: [string, "null"]
          format: uri
      required: [name, kind]

    Signal:
      type: object
      description: Normalized, product-ready signal
      properties:
        id:
          type: string
          description: Stable id (namespaced)
          example: bcn.parking.availability
        cityId:
          type: string
          example: bcn
        type:
          $ref: "#/components/schemas/SignalType"
        status:
          $ref: "#/components/schemas/SignalStatus"
        score:
          type: integer
          description: 0–100 normalized score
          minimum: 0
          maximum: 100
          example: 72
        confidence:
          type: number
          description: 0–1 confidence for the normalized status/score
          minimum: 0
          maximum: 1
          example: 0.84
        updatedAt:
          type: string
          format: date-time
          example: 2026-01-10T10:15:00Z
        summary:
          type: string
          description: Human-readable summary for dashboards
          example: Parking availability is good near the city center.
        sources:
          type: array
          description: High-level provenance (no raw payloads)
          items:
            $ref: "#/components/schemas/SignalSource"
      required: [id, cityId, type, status, score, confidence, updatedAt]

    PageInfo:
      type: object
      properties:
        nextCursor:
          type: [string, "null"]
          description: Cursor to fetch next page, null if none
      required: [nextCursor]

    PaginatedSignalsResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Signal"
        page:
          $ref: "#/components/schemas/PageInfo"
      required: [data, page]

    SignalDetail:
      type: object
      description: Detailed, product-level view of a single signal.
      properties:
        id:
          type: string
          description: Stable signal identifier (namespaced).
          example: bcn.parking.availability

        name:
          type: string
          description: Human-readable name of the signal.
          example: Parking Availability

        cityId:
          type: string
          description: City identifier (ISO-like short code).
          example: bcn

        type:
          $ref: "#/components/schemas/SignalType"

        status:
          $ref: "#/components/schemas/SignalStatus"

        score:
          type: integer
          description: Normalized score (0–100).
          minimum: 0
          maximum: 100
          example: 72

        confidence:
          type: number
          description: Confidence level for the score/status normalization.
          minimum: 0
          maximum: 1
          example: 0.84

        updatedAt:
          type: string
          format: date-time
          description: ISO timestamp of last signal update.
          example: 2026-01-10T10:15:00Z

        summary:
          type: string
          description: Short human-readable summary.
          example: Parking availability is good across most central areas.

        interpretation:
          type: object
          description: Metadata explaining how to interpret and use the signal.
          properties:
            whatItMeans:
              type: string
              example: Higher scores indicate greater parking availability.
            recommendedUse:
              type: array
              items:
                type: string
              example: [navigation, dashboards, alerts]
            updateCadence:
              type: string
              example: hourly
            method:
              type: string
              description: Synthetic or real method used to compute the signal.
              example: synthetic-model-v1
          required: [whatItMeans, updateCadence, method]

        coverage:
          type: object
          description: Geographic coverage of the signal.
          properties:
            scope:
              type: string
              enum: [city]
              example: city
            areaId:
              type: string
              example: barcelona
            areaName:
              type: string
              example: Barcelona
          required: [scope, areaId, areaName]

        sources:
          type: array
          description: High-level provenance sources for this signal.
          items:
            $ref: "#/components/schemas/SignalSource"

        links:
          type: object
          description: Related API links.
          properties:
            self:
              type: string
              example: /v1/signals/bcn.parking.availability
            list:
              type: string
              example: /v1/signals
          required: [self, list]

        meta:
          type: object
          description: Metadata about how this response was generated.
          properties:
            version:
              type: string
              example: "1"
            generated:
              type: boolean
              example: true
          required: [version, generated]

      required:
        [
          id,
          name,
          cityId,
          type,
          status,
          score,
          confidence,
          updatedAt,
          interpretation,
          coverage,
          links,
          meta
        ]     